/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


/* Apply Nunito to everything */
body, html, #root {
  font-family: 'Nunito', sans-serif;
}

.hero-section {
  background-color: #333;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  color: #DDDDDD;
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); */
}

.bg-body-primary-base {
  background-color: #f8f9fa;
}

.button-base {
  background-color: transparent !important; /* Start with transparent background */
  border: 1px solid #2b2b2b !important; /* Thicker border with your teal color */
  color: #2b2b2b !important; /* Text color matches border */
  transition: all 0.3s ease;
}

.button-base:hover {
  background-color: rgba(54, 130, 127, 0.82) !important; /* Fill with color on hover */
  color: #2b2b2b !important; /* Change text to white on hover for better contrast */
}

.button-base-mobile {
  background-color: rgba(54, 130, 127, 0.82) !important; /* Always filled on mobile */
  border: 1px solid #2b2b2b;
  color: #2b2b2b !important;
}

.hero-section h2 {
  font-weight: bold;
}

.hero-section .btn {
  margin-top: 20px;
}

.welcome-section {
  padding: 50px 0;
  text-align: center;
}


.info-tile {
  padding: 40px 20px;
  color: white;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s;
}

.info-tile:hover {
  transform: scale(1.03);
}

.info-tile .icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  display: block;
}

.tile-text {
  font-size: 1.2rem;
  font-weight: 500;
}
